@import "./mixins";

@mixin Container4 {
  .row3 {
    @include Box(80vh, 100%);
    background-color: black;
    margin: auto;
    .portfolio {
      padding: 150px;
      text-align: center;
      max-width: 1800px;
      background-color: black;
      margin: auto;
      > h3 {
        color: rgb(13, 220, 13);
        font-size: 20px;
        font-weight: 400;
      }
      > h1 {
        color: white;
        font-size: 52px;
        font-weight: 600;
      }
      > hr {
        width: 30%;
        height: auto;
        margin: auto;
        margin-top: 40px;
        color: rgb(101, 96, 90);
      }
    }
    .image1 {
      @include Flexs(center, start, row);
    }
    .image2 {
      @include Flex(center, center, row);
    }
    .image1 {
      @include Flex(center, center, row);
    }
  }
}
